* {
    border-color: red;
    border-width: 4px;
    
    margin: 1px;

}

.header {
    display: flex;
    background-color: yellow;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    border-width: 4px;
}

.header-link-container {
    display: inline-flex;
    border-width: 4px;
    background-color: green;
    flex: 50%;
    justify-content: right;
}

.header-link {
    display: inline-flex;
    font-size: 18px;
    color: #E5E7EB;
    border-width: 4px;
}

#headerLogo {
    display: inline-flex;
    font-size: 24px;
    color: #F9FAF8;
    border-width: 4px;
    background-color: red;
    flex: 50%
}

#link-one { 

}

#link-two {

}

#link-three {

}

.Hero {
    background-color: #1F2937;
    color: white;
}

.Info {

}

.Testimonial {
    background-color: #E5E7EB;
    color: #1F2937
}

.Signup {

}
